# SPDX-License-Identifier: GPL-2.0-only
menuconfig ARCH_SPRD
	bool "Spreadtrum SoC Support"
	depends on ARCH_MULTI_V7
	select ARM_GIC
	select SPRD_TIMER
	select MFD_SYSCON
	help
	  Support for Spreadtrum SoCs.

if ARCH_SPRD

config MACH_SC35X
	bool "Spreadtrum SC35X family support"
	default ARCH_SPRD
	help
	  Support for Spreadtrum SC7730, SC7731 and SC8830 SoCs.

endif
